main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    header {
        width: 600px;
        padding: 12px;
        border: 1px solid black;
        border-bottom: none;
        background-color: #eee;
    }

    form {
        width: 600px;
        height: 100%;
        background-color: #f9f9f9;
        border: 1px solid black;
        padding: 12px;
        margin-bottom: 6px;

        .separator {
            border-bottom: 1px black dotted;
            height: 9px;
            margin: 16px 0;
        }

        .separator span {
            background-color: #f9f9f9;
            padding-right: 6px;
            font-weight: bold;
        }

        button[type=submit] {
            width: 100%;
        }
    }

    .form-header, .form-content {
        display: flex;
        flex-direction: column;
        margin: 12px 0;

        .input-group {
            display: flex;
            flex-direction: column;
        }
    }

    fieldset {
        border: 1px solid black;
        padding: 6px;

        legend {
            font-weight: bold;
        }
    }
}